## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/meliscelikay/Desktop/GitHub/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lodja,CD,-3.4833,23.4333,75.56,74,87,0.36,overcast clouds
1,1,Salalah,OM,17.0151,54.0924,84.29,84,75,9.22,broken clouds
2,2,Punta Arenas,CL,-53.1500,-70.9167,39.31,70,40,9.22,scattered clouds
3,3,Hermanus,ZA,-34.4187,19.2345,60.53,86,37,8.28,scattered clouds
4,4,Port Alfred,ZA,-33.5906,26.8910,56.17,93,33,3.13,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lodja,CD,-3.4833,23.4333,75.56,74,87,0.36,overcast clouds
1,1,Salalah,OM,17.0151,54.0924,84.29,84,75,9.22,broken clouds
11,11,Cayenne,GF,4.9333,-52.3333,84.09,8,100,4.61,moderate rain
12,12,Kavieng,PG,-2.5744,150.7967,82.58,68,57,16.82,broken clouds
13,13,Bathsheba,BB,13.2167,-59.5167,84.81,70,20,18.41,few clouds
17,17,Hilo,US,19.7297,-155.0900,85.28,72,0,5.01,clear sky
19,19,Vaini,TO,-21.2000,-175.2000,73.56,94,75,3.44,broken clouds
23,23,Porto Novo,BJ,6.4965,2.6036,82.22,85,97,6.82,light rain
24,24,Saint-Francois,FR,46.4154,3.9054,78.24,65,0,6.91,clear sky
25,25,Colinas,BR,-6.0258,-44.2492,86.63,55,44,3.74,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().count()

City_ID                285
City                   285
Country                285
Lat                    285
Lng                    285
Max Temp               285
Humidity               285
Cloudiness             285
Wind Speed             285
Current Description    285
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.isnull().sum()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lodja,CD,-3.4833,23.4333,75.56,74,87,0.36,overcast clouds
1,1,Salalah,OM,17.0151,54.0924,84.29,84,75,9.22,broken clouds
11,11,Cayenne,GF,4.9333,-52.3333,84.09,8,100,4.61,moderate rain
12,12,Kavieng,PG,-2.5744,150.7967,82.58,68,57,16.82,broken clouds
13,13,Bathsheba,BB,13.2167,-59.5167,84.81,70,20,18.41,few clouds
17,17,Hilo,US,19.7297,-155.0900,85.28,72,0,5.01,clear sky
19,19,Vaini,TO,-21.2000,-175.2000,73.56,94,75,3.44,broken clouds
23,23,Porto Novo,BJ,6.4965,2.6036,82.22,85,97,6.82,light rain
24,24,Saint-Francois,FR,46.4154,3.9054,78.24,65,0,6.91,clear sky
25,25,Colinas,BR,-6.0258,-44.2492,86.63,55,44,3.74,scattered clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Lodja,CD,75.56,overcast clouds,-3.4833,23.4333,
1,Salalah,OM,84.29,broken clouds,17.0151,54.0924,
11,Cayenne,GF,84.09,moderate rain,4.9333,-52.3333,
12,Kavieng,PG,82.58,broken clouds,-2.5744,150.7967,
13,Bathsheba,BB,84.81,few clouds,13.2167,-59.5167,
17,Hilo,US,85.28,clear sky,19.7297,-155.0900,
19,Vaini,TO,73.56,broken clouds,-21.2000,-175.2000,
23,Porto Novo,BJ,82.22,light rain,6.4965,2.6036,
24,Saint-Francois,FR,78.24,clear sky,46.4154,3.9054,
25,Colinas,BR,86.63,scattered clouds,-6.0258,-44.2492,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        hotel_df.loc[index, "Hotel Name"] = np.nan

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Salalah,OM,84.29,broken clouds,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
11,Cayenne,GF,84.09,moderate rain,4.9333,-52.3333,Hôtel Le Dronmi
12,Kavieng,PG,82.58,broken clouds,-2.5744,150.7967,Nusa Island Retreat
13,Bathsheba,BB,84.81,few clouds,13.2167,-59.5167,Atlantis Hotel
17,Hilo,US,85.28,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
19,Vaini,TO,73.56,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
23,Porto Novo,BJ,82.22,light rain,6.4965,2.6036,Tour Eiffel Hotel Benin
24,Saint-Francois,FR,78.24,clear sky,46.4154,3.9054,Manoir Du Bonheur
25,Colinas,BR,86.63,scattered clouds,-6.0258,-44.2492,Pousada do Nonatinho
28,Avarua,CK,78.57,light rain,-21.2078,-159.7750,Paradise Inn

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))